@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

}

.viewport {
    width: 100%;
    height: 100%;
    background: white;
}

/* .toolbar {
  height: 35px;
  box-sizing: border-box;
  
}

.toolbar .logo {
  float: left;
  margin-right: 5px;

  font-weight: bold;
  
} */

.toolbar {
  height: 35px;
  box-sizing: border-box;
  padding: 10px 5px 0px 30px;
}

.toolbar .logo {
  float: left;
  margin-right: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.toolbar .separator {
  display: inline;
  margin-right: 5px;
  border-right: 2px solid #7f7f7f;
}

.toolbar .right {
  float: right;
  margin-right: 5px;
}

.container {
  float: left;
  width: 50%;
  height: calc(100% - 35px);
  box-sizing: border-box;
  padding: 5px;
}

nav {
  height: 50px;
  color: black;
  background-color: purple;
}
.navbar .nav-container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}
.navbar .nav-header {
  float: left;
  padding: 15px 15px 10px 0px;
  text-transform: uppercase;
}

.navbar .nav-links {
  margin: 0;
  float: right;
}

.navbar .nav-links .nav-item {
  position: relative;
  list-style: none;
  float: left;
}

.navbar .nav-links .nav-item .nav-link {
  text-transform: uppercase;
  display: block;
  text-decoration: none;
}

.navbar a {
    padding: 15px 15px 10px 0px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: black;
}
